/* styles.css */
.pricing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f2f2f2;
}

.card {
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 100%;
  max-width: 300px; /* Set the maximum width of the cards */
  margin: 0 auto; /* Center the cards horizontally */
}

.card:hover {
  transform: scale(1.05);
}

.icon {
  font-size: 64px;
  color: #1976d2;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price {
  font-size: 30px;
  font-weight: bold;
  color: #1976d2;
  margin-bottom: 20px;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: #444;
}

.featureText {
  margin-left: 5px;
}

.button {
  margin-top: 20px;
  background-color: #1976d2;
  color: #fff;
  font-weight: bold;
  padding: 12px 30px;
  border-radius: 30px;
  text-transform: uppercase;
}

.plan {
  font-size: 18px;
  color: #777;
}

.plan-silver {
  background-color: #f2f2f2;
}

.plan-gold {
  background-color: #ffe082;
}

.plan-platinum {
  background-color: #ffab40;
}
